<!doctype html>
<html lang="en">
<head>
    <#include "/html_parts/head_part.html">
    <title>Authorization page</title>
</head>
<body>

<div class="container">
    </br>
    <h1 align="center">Authorization page</h1>
    </br>

    <form class="form-signin" method="post" action="/login">

        <div class="row justify-content-center">
            <div class="col-md-auto col-lg-3">
                <input id="email" name="email" type="email" class="form-control" placeholder="Enter email">
            </div>
        </div>

        </br></br>

        <div class="row justify-content-center">
            <div class="col-md-auto col-lg-3">
                <input id="password" name="password" type="password" class="form-control" placeholder="Enter password">
            </div>
        </div>

        </br></br>

        <div class="row justify-content-center">
            <div class="col-md-auto col-lg-3">
                <label for="remember-me" class="sr-only">Remember me?</label>
                <input type="checkbox" id="remember-me" name="remember-me">
            </div>
        </div>

        <input name="_csrf" type="hidden" value="403540d8-b844-405b-a661-a467d1e7878f">

        <div class="container" align="center" style="width: 40%">

            </br></br>
            <div class="row justify-content-center">
                <div class="col-md-auto col-lg-3">
                    <button class="btn btn-outline-dark" type="submit" style="width: 100px">Login</button>
                </div>

                <div class="col-md-auto col-lg-3">
                    <a href='/register' type="button" class="btn btn-outline-dark" style="width: 100px">Register</a>
                </div>
            </div>
        </div>

        <#include "/html_parts/success_to_login.html">

    </form>


</div>
<#include "/html_parts/footer_script.html">
</body>
</html>


